{% load static %}
{% load gravatar %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>shotsNsquats</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/cerulean/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Mina|Rammetto+One|Roboto|Limelight" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}">
    
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="header" style="background-image:url({% static 'home/images/patsyeddie.jpg' %}">
    <div class="header_text">
        <h1>shotsNsquats</h1>
        <h4>The Party Girls Journey To Fitness</h4>
    </div>
</div>


    <!--<nav class="navbar navbar-masthead navbar-default">-->
    <!--    <div class="container">-->
    <!--        <div class="navbar-header">-->
    <!--            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">-->
    <!--                <span class="sr-only">Toggle navigation</span>-->
    <!--                <span class="icon-bar"></span>-->
    <!--                <span class="icon-bar"></span>-->
    <!--                <span class="icon-bar"></span>-->
    <!--            </button>-->
                
    <!--        </div>-->
    <!--        <div id="navbar" class="navbar-collapse collapse">-->
    <!--            <ul class="nav navbar-nav navbar-center">-->
    <!--                <li><a href="{% url 'home' %}"> Home</a></li>-->
    <!--                <li><a href="{% url 'blog' %}">Blog</a></li>-->
    <!--                <li class="dropdown">-->
    <!--                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">-->
    <!--                            {% if user.is_authenticated %}-->
    <!--                            <span><img src="{% gravatar_url post.author.email %}" style="width:20px; height: 20px; background-color: #12ABB2; color: #ffffff;" class="img-circle">-->
    <!--                            </span>-->
    <!--                            {% endif %}-->
    <!--                            Account-->
    <!--                        <span class="caret"></span></a>-->
    <!--                        <ul class="dropdown-menu">-->
    <!--                        {% if user.is_authenticated %}-->
    <!--                            <li><a href="{% url 'profile' %}"><i class="fa fa-user"></i> Profile</a></li>-->
    <!--                            <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out"></i> Log Out</a></li>-->
    <!--                        {%  else %}-->
    <!--                            <li><a href="{% url 'register' %}"><i class="fa fa-user-plus"></i> Sign Up</a></li>-->
    <!--                            <li><a href="{% url 'login' %}"><i class="fa fa-sign-in"></i> Log In</a></li>-->
    <!--                        {% endif %}-->
    <!--                        </ul>-->
    <!--                </li>-->
                    
                    
    <!--            </ul>-->
    <!--        </div>-->
    <!--    </div>-->
    <!--</nav>-->
    
<div class="new_nav" id="navbar">
    <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <i class="fas fa-square-full"></i>
        <li><a href="{% url 'about' %}">About Us</a></li>
        <i class="fas fa-square-full"></i>
        <li><a href="{% url 'blog' %}">Blog</a></li>
        <i class="fas fa-square"></i>
        <li><a href="{% url 'contact' %}">Contact</a></li>
        <i class="fas fa-square"></i>
        <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        {% if user.is_authenticated %}
                        <span><img src="{% gravatar_url post.author.email %}" style="width:20px; height: 20px; background-color: #12ABB2; color: #ffffff;" class="img-circle">
                        </span>
                        {% endif %}
                        Account
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'profile' %}"><i class="fa fa-user"></i> Profile</a></li>
                        <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out"></i> Log Out</a></li>
                    {%  else %}
                        <li><a href="{% url 'register' %}"><i class="fa fa-user-plus"></i> Sign Up</a></li>
                        <li><a href="{% url 'login' %}"><i class="fa fa-sign-in"></i> Log In</a></li>
                    {% endif %}
                    </ul>
            </li>
    </ul>
</div>

    {% if messages %}
        <div class="alert alert-success">
            <div class="messages">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        </div>
    {% endif %}
    <div class="container">
        {% block content %} {% endblock %}
    </div>
    
    <footer>
        <div class="container">
            <p>Footer</p>
        </div>
    </footer>
    
    <script type="text/javascript" src="{% static 'home/js/script.js' %}"></script>
</body>
</html>