{% extends 'home/base.html' %}
{% load static %}
{% load gravatar %}

{% block content %}
    
<div class="container">
<p></p>
<hr>
<h1> Our goals </h1>
<!--<img src="{% static 'home/images/placeholder.png' %}"/>-->
<hr>
<h1> Our journey so far..</h1>
<div class="row">
{% for post in posts %}
    <div class="col-sm-3">
        {% if post.image %}
        <img src="{{MEDIA_URL}}{{ post.image.url }}" width="200">
        {% endif %}
        <h2>{{post.title}}</h2>
        <p>{{post.content}}</p>
    </div>
{% endfor %}
</div>
</div>
{% endblock %}